/*
 * Neutralize yeti and bootstrap
 * Seach box should be style like any other textfield
 */
input[type=search] {
    -webkit-appearance: textfield;
}

/*
 * Style the page selector (top left)
 */
.dataTables_wrapper .dataTables_length label{
  min-width: 150px;
}

.dataTables_wrapper .dataTables_length select.form-control{
  width: 90px;
  display: inline-block;
}

.dataTables_wrapper .dataTables_filter input[type=search] {
    display: inline-block;
    width: 70%;
}

/*
 * Style the Pager
 */
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 0px;
}

/*
 * Control the font sizes
 */
table.dataTable th {
  font-size: 11px;
}

table.dataTable td {
  font-size: 11px;
}

div#tab_inputdata {
    font-size: 12px;
}

/*
 * Control layout within cells
 */
table.dataTable td .checkbox input[type=checkbox],
table.dataTable td .checkbox-inline input[type=checkbox],
table.dataTable td .radio input[type=radio],
table.dataTable td .radio-inline input[type=radio] {
  position: relative;
}

table.dataTable td .checkbox-inline+.checkbox-inline,
table.dataTable td .radio-inline+.radio-inline {
  margin-left: 0;
}

table.dataTable td .checkbox-inline,
table.dataTable td .radio-inline {
  margin-right: 10px;
}

/*
 * Add thin boredr
 */
 .dataTables_wrapper .dataTables_scroll {
  border: 1px solid #cccccc;
  border-radius: 4px;
  background: #ffffff;
}

/* Neutralize horizontal lines */
table.dataTable thead th {
  border-top: 0 !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 0 !important;
  margin-bottom: 1px;
}
