// COLORS B Dark
$bg-color: #fff; /* when body is not having a white background */
// $text-color: #364152; /* for regular text */
$text-color: #50595e; /* for regular text */
$dark-gray: #fafafa;
$primary: #e4e9ec; /* borders, buttons */
$primary-dark: darken($primary, 5%);
$nav-bg: #374253;
$nav-a: #93abb8; /* navigation */
$nav-a-hover: darken($nav-bg, 5%); /* navigation */
$accent: #0a92e4; /* for text-links and clickable elements */
$accent-hover: #22a6f5; /* for text-links and clickable elements on hover */