language: r
r:
  - release
  - devel
cache: packages

before_install:
  - sudo apt-get update
  - sudo apt-get -y install libxml2-dev

r_github_packages:
  - r-lib/textshaping
  
r_packages:
  - kableExtra
  - covr
  - pkgdown


  
after_success:
  - Rscript -e 'covr::coveralls()'


notifications:
  email:
    on_success: change
    on_failure: change

deploy:
  provider: script
  script: Rscript -e 'pkgdown::deploy_site_github()'
  skip_cleanup: true
